@using Microsoft.AspNetCore.Identity
@using EcomProject_JimmyRebecca.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@model IEnumerable<EcomProject_JimmyRebecca.Models.LineItem>

<div>
    <h3>Current Box: </h3>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var li in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => li.Product.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => li.Quantity)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
