@using Microsoft.AspNetCore.Identity
@using EcomProject_JimmyRebecca.Models
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @{ await Html.RenderPartialAsync("_NavBar"); }
    <main>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </main>
</body>
</html>
