<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <a asp-action="../Account/Login">Log In</a>
        <a asp-action="../Products/Index">Products</a>
        <a asp-action="../Account/Register">Register</a>
    </nav>
    <main>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </main>
</body>
</html>
