@using Microsoft.AspNetCore.Identity
@using EcomProject_JimmyRebecca.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<nav class="navbar navbar-expand-lg navbar-light justify-content-between">
    <a class="nav-link active text-secondary navbar-brand" asp-action="../Home/Index"><img class="img-fluid icon" src="~/assets/paw.gif" />Paw-Lease</a>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active text-secondary" asp-action="../Home/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-secondary" asp-action="../Products/Index">Products</a>
        </li>
        @if (!SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link active text-secondary" asp-action="../Account/Register">Register</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link active text-secondary" asp-action="../Admin/Index">Admin Console</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-secondary" asp-action="Active" asp-controller="Carts">Shopping Cart</a>
        </li>
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Claims.First(name => name.Type == "FullName").Value
                </a>
                <div class="dropdown-menu text-secondary" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-secondary" asp-action="../Account/Register">Edit Profile In Razor View</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-secondary" asp-action="../Account/Logout">Log Out</a>
                </div>
            </li>
            <li><a class="dropdown-item text-secondary" asp-action="../Profile/Details">Edit Profile In Razor Page</a></li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link active text-secondary" asp-action="../Account/Login">Log In</a>
            </li>
        }
    </ul>
</nav>
