@page
@model EcomProject_JimmyRebecca.Views.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>UserProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserProfile.Password" class="control-label"></label>
                <input asp-for="UserProfile.Password" class="form-control" />
                <span asp-validation-for="UserProfile.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.PaswordConfirmation" class="control-label"></label>
                <input asp-for="UserProfile.PaswordConfirmation" class="form-control" />
                <span asp-validation-for="UserProfile.PaswordConfirmation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>
