@using Microsoft.AspNetCore.Identity
@using EcomProject_JimmyRebecca.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="landing-page">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1>Welcome back, @User.Claims.First(name => name.Type == "FullName").Value!</h1>

        <div class="cart">
            @await Component.InvokeAsync("ViewCart", UserManager.GetUserId(User))
        </div>
    }
    else
    {
        <h1>Welcome to Paw-Lease!</h1>
    }
</div>
