body {
    background-image: url(../assets/cats/cats2.png);
    background-size: cover;
}

main {
    max-width: 100%;
    max-height: 100%;
}

.landing-page img {
    max-width: 100%;
    max-height: 100%;
}
